ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

.confirmed {
  color: green;
  font-weight: bold;
}

.not-confirmed {
  color: gray;
}

.confirmation-message {
  color: green;
  font-style: italic;
}
